.container {
    position: relative;
    /* width: 50%; */
  }
  .container .btn {
    width:100%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: none;
  }
  .container:hover .btn{
    display: block;
  }